/* DEFINICION DE UNA CLASE BASE */

.tipo-tarjeta {
    background-color: forestgreen;
    display: grid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px; //aplica 10px a cada esquina
}

.tarjeta-perfume {
    @extend .tipo-tarjeta;
    text-align: center;
}